body {
	font-family:"verdana",sans-serif;
	margin:40px auto;
	max-width:650px;
	font-size:18px;
	color:#8A0000;
	padding:0 10px;
	background-color:#E5EAFA;
}

a {
	color:#3C5110;
}

a:hover {
	font-style: italic;
	text-shadow: 2px 2px 5px #656565;
}

h1,h2,h3{
	line-height:1;
}

th {
	border: 1px solid black
}
header {
	text-align:center;
}

header table{
	margin-left:auto;
	margin-right:auto;
}

footer {
	text-align:center;
	font-size:10px;
}
